.DropdownDropPartWrapper {
    position: absolute;
    display:flex;
    flex-direction: column;
	  height: 20rem;
    border: 0.05rem #ccc solid;
    border-radius: 5px;
    box-shadow: 0.3rem 0.5rem 0.3rem rgb(238,238,238);
    box-sizing: border-box;
    z-index: 100;
    background-color: white;
    width:100%;
    /* width:-webkit-fill-available; */
}

.DropdownDropPart {
    margin-left:0.7rem;
    overflow-y :scroll;
    margin-bottom: 0.2rem;
}

/* width */
.DropdownDropPart::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
  }
  
  /* Track */
  .DropdownDropPart::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .DropdownDropPart::-webkit-scrollbar-thumb {
    background: rgb(20,148,244)
  }
  
  /* Handle on hover */
  .DropdownDropPart::-webkit-scrollbar-thumb:hover {
    background: rgb(20,148,244)
  }