.DropdownDropPartWrapper {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  height: 488px;
  width: 231px;
  position: absolute;
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 100;
  background-color: white;
  padding: 11px 8px 11px 10px;
}

.DropdownDropPart {
    overflow-y :scroll;
    margin-bottom: 11px;
    height:100%;
}

/* width */
.DropdownDropPart::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  /* Track */
  .DropdownDropPart::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .DropdownDropPart::-webkit-scrollbar-thumb {
    background: rgb(20,148,244);
    border: 3px solid rgb(20,148,244);
    border-radius: 1px;
  }
  
  /* Handle on hover */
  .DropdownDropPart::-webkit-scrollbar-thumb:hover {
    background: rgb(20,148,244);
    border: 3px solid rgb(20,148,244);
    border-radius: 1px;
  }

  .DropdownDropPart {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }