.Search {
    display: block;
    margin: 0.2rem 0rem;
    display: flex;
    background: rgb(250, 251, 252);
    border-radius: 4px;
    min-height: 35px;
    align-items: center;
}

.SearchIcon {
    padding:0.3rem;
    color: rgb(170, 180, 200);
}

.SearchInput {
    width: 100%;
    border: none;
    background-color: transparent;
    background-image:none;
    box-shadow: none;
    vertical-align: center;
    color: rgb(6, 43, 117);
    font-family: WorkSans-Medium, inherit;
    font-size: 16px;
    font-weight: 500;
    height: 19px;
    letter-spacing: 0px;
}

.SearchInput:focus {
    outline: none;
}


.SearchInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(170, 180, 200);
    opacity: 1; /* Firefox */
  }
  
  .SearchInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(170, 180, 200);
  }
  
  .SearchInput::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(170, 180, 200);
  }