.CheckboxItem {
    display: flex;
    margin: 0.2rem 0;
}

.CheckboxItem:hover,
.CheckboxItemActive {
   color: rgb(23,149,244);
}

.CheckboxItemLabel {
  margin-left: 0.5rem;
  white-space: nowrap;
}
