.CheckboxItem {
    display: flex;
    margin: 0.5rem 0;
    color: rgb(66, 94, 150);
}

.CheckboxItemLabel {
  margin-left: 0.5rem;
  white-space: nowrap;
  font-size: 1rem;
}

.CheckboxItem:hover,
.CheckboxItemActive {
   color: rgb(23,149,244);
}

.CheckBoxIcon {
  background-color: rgb(250, 251, 252);
}
