.CheckboxItem {
    display: flex;
    margin: 10px 0;
    color: rgb(6, 43, 117);
    align-items: center;
}

.CheckboxItemLabel {
  margin-left: 0.5rem;
  white-space: nowrap;
  font-family: WorkSans-Medium, Work Sans;
  font-size: 14px;
  font-weight: 500;
  height: 16px;
  letter-spacing: 0px;
  width: 100%;
}


.CheckBoxIcon {
  background: rgb(250, 251, 252);
  color: rgb(238, 242, 246);
  font-size:24px;
}
.CheckBoxIconActive {
  background: rgb(250, 251, 252);
  color: #1494f4;
}

.CheckboxItem:hover,
.CheckboxItemActive {
  color: #1d91eb;
}


